<div class="registration-container">
    <mat-card class="registration-card">
      <mat-card-header>
        <mat-card-title>Inscription</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="registration-form">
          <mat-form-field class="full-width-input">
            <mat-label>Prénom</mat-label>
            <input matInput placeholder="Entrez votre prénom">
          </mat-form-field>
  
          <mat-form-field class="full-width-input">
            <mat-label>Nom</mat-label>
            <input matInput placeholder="Entrez votre nom">
          </mat-form-field>
  
          <mat-form-field class="full-width-input">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Choisissez un username">
          </mat-form-field>
  
          <mat-form-field class="full-width-input">
            <mat-label>Mot de passe</mat-label>
            <input matInput type="password" placeholder="Créez un mot de passe">
          </mat-form-field>
  
          <mat-form-field class="full-width-input">
            <mat-label>Confirmez le mot de passe</mat-label>
            <input matInput type="password" placeholder="Confirmez votre mot de passe">
          </mat-form-field>
  
          <mat-checkbox>J'accepte les conditions d'utilisation du site.</mat-checkbox>
  
          <button mat-raised-button color="primary" class="registration-button">Créer Compte</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  