<div class="registration-container">
    <mat-card class="registration-card">
      <mat-card-content>
        <form class="registration-form">
          <div class="name-fields-container">
            <mat-form-field class="full-width-input">
              <mat-label>Prénom</mat-label>
              <input matInput placeholder="Prénom">
            </mat-form-field>
          
            <mat-form-field class="full-width-input">
              <mat-label>Nom</mat-label>
              <input matInput placeholder="Nom">
            </mat-form-field>
          </div>
  
          <mat-form-field class="full-width-input">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Choisissez un username">
          </mat-form-field>
  
          <mat-form-field class="full-width-input">
            <mat-label>Mot de passe</mat-label>
            <input matInput type="password" placeholder="Créez un mot de passe">
          </mat-form-field>
  
          <mat-form-field class="full-width-input">
            <mat-label>Confirmez le mot de passe</mat-label>
            <input matInput type="password" placeholder="Confirmez votre mot de passe">
          </mat-form-field>
  
          <mat-checkbox>J'accepte les conditions d'utilisation du site.</mat-checkbox>
  
          <button mat-raised-button color="primary" class="registration-button" style="background-color: rgb(245, 162, 81);">Créer Compte</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  