<app-navbar></app-navbar>
<!DOCTYPE html>
<html>
<head>
	<title>Historique des tournois</title>
</head>
<body>
	<h1>Historique des tournois</h1>
	<table>
		<thead>
			<tr>
				<th>Jeu</th>
				<th>Statut</th>
				<th>Titre</th>
				<th>Date</th>
				<th>Distinctions du tournoi</th>
				<th>Nombre d'équipes</th>
			</tr>
		</thead>
		<tbody>
			<!-- Répétez la ligne suivante pour chaque entrée de tournoi -->
			<tr>
				<td>Nom du jeu</td>
				<td>Valeur du statut</td>
				<td>Titre du tournoi</td>
				<td>MM/JJ/AAAA</td>
				<td>Distinctions du tournoi</td>
				<td>Nombre d'équipes</td>
			</tr>
		</tbody>
	</table>
</body>
</html>
